body{
    font-family: 'Playfair Display', serif;
}

.heading{
    width: 100%;
    margin: 0px;
    font-size: 23px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkgrey;
    padding: 20px;
}

.heading_div{
    float: none;
    font-size: 20px;
    background-color: rgb(109, 232, 248);
    border: 10px double black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkgray;  
    color: black; 
    padding: 5px;
}

.object_list{
    font-size: 18px;
    color: black;
}

.para_tag{
    box-shadow: 10px 10px 5px darkgray;
    font-size: 20px;
}

.copyright_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(24, 23, 23);
    line-height: 2;
    font-size: 18px;
    text-align: left;
}

canvas{
    border: 10px ridge;
    background-color: white;
    animation-name: filter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 350px;
}
@keyframes filter{
    from{box-shadow: 2px 2px 20px red;}
    to{box-shadow: 2px 2px 20px yellow;}
}